[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
setuptools-scm = "*"
sphinx = "*"
pre-commit = "*"
mypy = "*"
types-requests = "*"
sphinx-palewire-theme = "*"
myst-parser = "*"

[packages]
geojson = "*"
click = "*"
requests = "*"

[requires]
python_version = "3.10"
